body.prevent-scroll {
    overflow: hidden !important;
}
.omni-search {
    position: fixed;
    display: flex;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 99999;
    animation: fadeIn .3s;
}
.omni-search > span.select2 {
    margin: 10vh auto auto auto;
    width: 667px !important;
}
.select2-container {
    z-index: 99999;
}
.omni-search[data-state="default"] > span.loader {
    display: none;
}
.omni-search > .loader-container:empty,
.omni-search > .content-container:empty {
    pointer-events: none;
}
.omni-search > .loader-container,
.omni-search > .content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.omni-search > .content-container > div {
    margin: 15vh auto auto auto;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.omni-search > .loader-container > span.loader {
    position: relative;
    margin: 50vh auto auto auto;
    font-size: 50px;
    animation: fadeIn .3s;
    color: #fff;
}
.omni-search > .loader-container:not(:empty) ~ .select2,
.omni-search > .content-container:not(:empty) ~ .select2 {
    display: none;
}
.omni-search .select2-selection {
    padding: 15px;
}
.omni-search .select2-selection__choice {
    margin: 0 !important;
    height: 30px;
    padding: 4px 10px !important;
}
.omni-search .select2-selection__choice > button {
    display: none;
}

.select2-container .select2-results__option--selected {
    display: none;
}
.select2-dropdown {
    border-radius: 0;
    border: none;
}
.select2-results__option-container {
    display: flex;
}
.select2-results__option-container > span {
    margin: auto 5px auto 0;
    font-weight: bold;
    font-size: 12px;
}
.select2-container--default .select2-results__group {
    padding: 15px 0px 5px 10px;
    color: #6a6a6a;
}
.select2-results__option,
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 10px;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}
.select2.select2-container:after {
    content: attr(data-visible-selected);
    color: #000;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 14px;
}
#timelogTextarea {
    resize: none;
    height: 150px;
}
#timelogSubmit {
    padding: 10px;
    color: #fff;
    font-size: 15px;
    border: none;
}
#timelogSubmit:hover {
    background-color: rgb(2, 90, 131);
}
.js-example-basic-multiple.loading + span.select2:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ce";
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    margin: auto;
    z-index: 9;
    animation: spin 1.2s infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
